/*全局*/
body{
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
    font-family: "Microsoft YaHei",'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
.center{
	text-align: center;
}

/*导航条*/
.navbar{
    height: 50px;
}
.btn-default{
	color: #7f7f7f;
}

/*下拉菜单*/
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #8e8e8e;
}
.dropdown-menu{
	text-align: center;
	 min-width: 102px;
}
.dropdown-menu li{
   width: 102px;
}
/*幻灯片*/
.container .carousel-inner .item img{
	width: 1200px;
	height: 600px;
}
.container .carousel-inner .item h6{
	margin-top: -33px;
	color: #fff;
	font-size: 20px;
	margin-left: 10px;
}
.container{
	width: 1200px !important;
}
.carousel{
	margin-bottom: 20px;
}
.carousel-indicators{
	width: 100px; margin-left: 0px;
	left: 1000px; margin-bottom: 0px; bottom: 10px;
}

/*内容*/
.col-xs-6{
    padding-bottom: 15px;
}
.row .col-xs-6 img{
    width: 100%;
    height: 300px;
}
.row .col-xs-6 img:hover{
	box-shadow: 2px 2px 6px #8A8A8A;
}
.row .col-xs-6 .info{
	margin-top: -40px;
	margin-left: 10px;
}
.row .col-xs-6 span{
    color: #fff;
    width: 60px; 
    height: 15px;
    font-size: 12px;
}
.row .col-xs-6 .info span:nth-child(2){
    width: 64px; 
}
.row .col-xs-6 .info span:nth-child(1){
	width: 78px; 
	height: 20px;
}
.row .col-xs-6 .info span:nth-child(1) h6{
    font-size: 12px;
}
.row .col-xs-6 span h6{
	display : inline;
	font-size: 13px;
	padding-left: 3px;
	margin-left: 0px;
}
.row .col-xs-6 h6{
	margin-top: 0px; 
	margin-bottom: 0px; 
	color: #fff;
	/*margin-left: px;*/
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.thumbnail{
	width: 570px;
}

/*专辑*/
.row .col-xs-4 img{
	width: 100%;
	height: 240px;
}
.col-xs-4{
    padding-bottom: 15px;
}
.row .col-xs-4 .info{
	margin-top: -40px;
	margin-left: 10px;
}
.row .col-xs-4 span{
    color: #fff;
    width: 60px; 
    height: 15px;
    font-size: 12px;
    margin-left: 2px;
}
.row .col-xs-4 .info span:nth-child(2){
    width: 35px; 
}
.row .col-xs-4 span h6{
	display : inline;
	font-size: 13px;
	padding-left: 3px;
	margin-left: 0px;
}
.row .col-xs-4 h6{
	margin-top: 0px; 
	margin-bottom: 0px; 
	color: #fff;
	/*margin-left: 0px;*/
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*翻页*/
.container nav .paper{
	width: 800px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 40px;
}


/*脚部*/
.footer{
	display: block;
	text-align: center;
	font-size: 12px;
    
}